html, body {
    height: 100%;
    margin: 0;
}
body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
canvas {
    border: 1px solid white;
}
.counter {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    margin: none;
}
#result,
#bestresult {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    margin: none;
}
#btnreturn {
    border: none;
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    background-color:lightskyblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    visibility: hidden;
}